{% extends "enroll/base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Add Student details</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{Form.as_p}}
            <input type="submit" class="btn btn-success" value="add">
        </form>
    <br> /
    {% comment %} {% include "enroll/messages.html" %}  {% endcomment %}
    {% if messages %}
    {% for mes in messages %}
    <p {% if mes.tags %} class="alert alert-{{mes.tags}}"{% endif %} >{{mes}}</p>
    {% endfor %}
    {% endif %}
    </div>
    <div class="col-sm-7 offset-1">
        <h4 class="text-center alert alert-info">Studen Details</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for stu in studetails%}
                <tr>
                    <th scope="row">{{stu.id}}</th>
                    <td scope="row">{{stu.name}}</td>
                    <td scope="row">{{stu.email}}</td>
                    <td scope="row">{{stu.password}}</td>
                    <td bt="row">
                        <a href="{% url "update" stu.id %}" class="btn btn-warning">Edit</a>                 
                        <form action="{% url "delete" stu.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>       

    </div>
</div>

{% endblock content %}